body{
  background-color: black;
  padding: 5px;
  margin: 20px;  
}

#container{
  background-color: navy;
  border: solid;
  border-width: 5px;
  border-color: whitesmoke;
  height: 550px;


}

button{
  height: 30px;
  width: max-content;
  padding: 5px, 5px;
  margin-top: 10px;
}

.buttons{
  text-align: center;
 
}